/* COMMON */
body {
    background-color: #ddc8ef;
}
.body-container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.body__container {
    background-color: #ddc8ef;
    background-repeat: no-repeat;
}

/* HEADER영역 */
header {

}

header .inner {
    max-width:1100px;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .bundle {
    
}

header .logo {
    display: block;
    padding: 5px;
    font-size:24px;
    font-weight: 500;
    color: #ffffff;
}
header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
}

header .menu li a {
    display: block;
    color: #ffffff;
}

header .menu li a:hover {
    font-weight: 500;
    color: #aa6edf;
}


