section {
    padding-top: 10vh;
}

/* section .container {
    position: absolute;
} */


/* main 영억 */
section .main_bundle {
    overflow: hidden;
    height: 70vh;
}

section .flex-box {
    display: flex;
    justify-content: center;
    max-width: 1008px;
    margin: 0 auto;
}

section .center-box {
    padding-left:20px;
}

section .player {
    display: flex;
    align-items: center;
    margin : 0 auto;
    max-width: 140px;
    margin-top: 5vh;
    padding-left: 20px;
    font-size: 20px;
}

svg {
    display:block;
    align-content: center;
}

.music-info {
    display: block;
    margin: 10px;
}

/* 앨범 이미지 영역 */
/* .album {

} */

.wrapper {
    display: flex;
    justify-content: center;
}

section .inner {
    /* padding: 20px;
    padding-left: 60px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 30px;
    position: relative;
}
.album-box {
    margin: auto;
    width: 100vh;
    height: 100vh;
    border-radius: 70% 70%;
    overflow: hidden;
    box-shadow:6px 6px 6px 6px #363436;
    
}

.album-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.inner-line-img {
    height: 38%;
    position: absolute;
    left: 27%;
    top: 27%;
}

.player-side {
    color: white;
    width: 50px;
    height: 200px;
    margin-top: 50vh;
    margin-left: 20px;
}

.svg {
    border : none;
    background : none;
    color: white;
    font-size : 26px;
    margin: 5px;

    
}
